.navbar {
    font-family: "SFUIDisplayLight", sans-serif;
	font-size: 20px;
    line-height: 1;
	position: relative; 
    
}

.navbar-dark .navbar-nav .nav-link {
    color:#C6C6C6;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color:white;
}

.navbar-dark .navbar-brand {
    color:white;
}

.nav> li> a{
    color: #000;
}

.nav> li> a:hover{
    background-color:#eeeeee;
    color: #000;
}

.navbar-brand{
    font-family: "AemstelLineOutside", sans-serif;
    font-size: 40px;
    position: relative;
}