body {
    
    background-color: #fff;
	font-family: "SFUIDisplayLight", sans-serif;
	font-size: 20px;
	min-width: 320px;
	position: relative;
    color: #000;
}
h1 {
    font-family: "SFUIDisplayLight", sans-serif;
	font-size: 30px;
	min-width: 320px;
	position: relative;       
}

hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: #343a40; /* Цвет линии для остальных браузеров */
    background-color: #343a40; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
}

p>a{
    color: #000;
}

a:hover {
    color: tomato;
    text-decoration: none;
}

footer {
    padding: 40px;
    padding-top: 40px;
    background-color: #e0e0e3;
}

p {
    line-height: 1.1em;
}

.go-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  padding: 1em;
  display: none;
}

.go-top:hover {
  background-color: rgba(0, 0, 0, 0.6);
}